@import "../Common.scss";

.dial {
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dial-overLay {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.circle {
  border-radius: $CIRCLE;
}

.square {
  border-radius: $SQUARE;
}