@import "../Common.scss";

$BACKGROUND-COLOR: white;
$HAND-COLOR: black;
$SECOND-COLOR: rgb(165, 55, 55);
$MARK-COLOR: black;

$DIAL-SHADOW: 0px 5px 10px rgb(145, 145, 145),
              0px 10px 15px rgb(156, 156, 156),
              0px 15px 20px rgb(173, 173, 173),
              0px 20px 25px rgb(196, 194, 194),
              0px 25px 30px rgb(211, 210, 210);

.default {
  &.overLay, &.clock-wrapper {
    background-color: $BACKGROUND-COLOR;
  }

  .dial {
    background-color: $BACKGROUND-COLOR;
    box-shadow: $DIAL-SHADOW;
  }

  .center {
    width: 3%;
    height: 3%;
    border-radius: $CIRCLE;
    background-color: $HAND-COLOR;
  }

  .hand.h, .hand.m {
    height: 1%;
    background-color: $HAND-COLOR;
  }

  .hand.s {
    height: .5%;
    background-color: $SECOND-COLOR;
  }

  .dial-overLay.shadow {
    filter: drop-shadow(0px 10px 5px rgb(109, 109, 109))
          drop-shadow(0px 15px 10px rgb(155, 155, 155));
    transform: translateZ(0);
  }

  .mark {
    height: 1%;
  }

  .default .mark>div {
    right: 10%;
    width: 5%;
    background-color: $MARK-COLOR;
  }
}