.neumorphism.overLay {
  background-color: rgb(158,177,189);
}

.neumorphism.dial {
  background-color: rgb(158,177,189);
  filter: drop-shadow(10px 10px 10px rgba(0,31,58, 0.7))
          drop-shadow(-10px -10px 10px rgba(237,250,255, 0.7));
  transform: translateZ(0);
}

.neumorphism.dial-overLay.shadow {
  filter: drop-shadow(5px 5px 5px rgba(0,31,58, 0.7))
          drop-shadow(-5px -5px 5px rgba(237,250,255, 0.7));
  transform: translateZ(0);
}

.neumorphism.hand {
  height: 2%;
}

.neumorphism.hand>div {
  width: 85%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(158,177,189) ;
}

.neumorphism.hand.s {
  height: 5%;
}

.neumorphism.hand.s>div {
  width: 14.3%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(158,177,189) ;
}