
.center {
  position: absolute;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: 50%;
  transform-origin: left center;

  >div {
    position: absolute;
    right: 0;
  }

  &.h {
    width: 24%;
  }
  
  &.m, &.s {
    width: 35%;
  }
}