.center {
  position: absolute;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: 50%;
  transform-origin: left center;
}

.hand>div {
  position: absolute;
  right: 0;
}

.hand.h {
  width: 24%;
}

.hand.m {
  width: 35%;
}

.hand.s {
  width: 35%;
}